{:deps   {:aliases [:cljs]}
 :builds {;; clojure -M:cljs compile test
          :test {:target    :node-test
                 :output-to "target/node-tests.js"
                 :ns-regexp "-test$"
                 :autorun   true}}}
