{:linters       {:missing-docstring {:level :warning}
                 :unused-binding    {:exclude-destructured-as true}}
 ;; test fixtures need no docstrings
 :ns-groups     [{:pattern "dk\\.simongray\\.html-pieces.*-test" :name tests}]
 :config-in-ns  {tests {:linters {:missing-docstring {:level :off}}}}}
